{{ define "index" }}
{{ template "header"}}
     
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1</td>
                <td> Juan P.</td>
                <td> juanpablorom@gmail.com</td>
                <td> Edit | Delete </td>
            </tr>
        </tbody>
    </table>

{{ template "footer"}}
{{end}}